apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    app.kubernetes.io/name: renovate
    app.kubernetes.io/part-of: argocd
  name: renovate
  namespace: argocd
spec:
  project: default
  source:
    repoURL: {{ cluster_repository_url }}
    targetRevision: HEAD
    path: renovate
    directory:
      recurse: true
      exclude: "{renovate-secret.yaml}"
  destination:
    server: https://kubernetes.default.svc
    namespace: renovate
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
    syncOptions:
      - CreateNamespace=true
