apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tailscale
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://pkgs.tailscale.com/helmcharts
      chart: tailscale-operator
      targetRevision: 1.84.3
    - repoURL: {{ cluster_repository_url }}
      targetRevision: HEAD
      path: tailscale
      directory:
        recurse: true
        exclude: "{tailscale-operator-oauth-secret.yaml}"
  destination:
    server: https://kubernetes.default.svc
    namespace: tailscale
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true