apiVersion: v1
kind: Secret
metadata:
  name: cluster-repository
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
    app.kubernetes.io/name: cluster-repository
    app.kubernetes.io/part-of: argocd
stringData:
  type: git
  url: {{ cluster_repository_url }}
  username: {{ cluster_repository_username }}
  password: {{ cluster_repository_password }}
